@tailwind base;
@tailwind components;
@tailwind utilities;

.mainContainer {
  margin-inline: auto;
  max-width: 1440px;
  padding-inline: 100px;
  width: 100%;
  @media only screen and (max-width: 1200px) {
    padding: 0 40px;
  }
  @media only screen and (max-width: 767px) {
    padding: 0 20px;
  }
}
.site-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.banner{
  background-image: url(../../public/assets/images/landing-banner.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: black;
  height: 80vh;
}
.bgBlack{
  background-color: black;
  transition: 0.4s;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
nextjs-portal {
  display: none;
}